* {
	text-decoration: none !important;
}

html {
	scroll-behavior: auto;
}
.edit-link {
	text-decoration: none;
}

.sidebar ul li a:hover {
	color: var(--theme-color);
	transition: all 0.3s linear;
}

.app-sub-sidebar li:before {
  display: none;
}

.author-icon {
	padding-right: 1rem;
}

#willcarhart-icon {
	margin-right: 1rem;
	max-width: 1rem;
	max-height: 1rem;
}

.inline-subtitle {
	display: inline-block;
	padding-bottom: 0rem;
	padding-top: 0rem;
	margin-bottom: 0rem;
	margin-top: 0rem;
}

.markdown-section tr:nth-child(2n) {
	background-color: transparent !important;
}

#top-button {
	display: none; /* hidden by default */
	position: fixed;
	bottom: 1rem;
	right: 1.5rem;
	z-index: 99;
	border: none;
	outline: none;
	background-color: var(--theme-color);
	color: #3f3f3f;
	cursor: pointer;
	padding: 1rem;
	border-radius: 0.6rem;
	font-size: 1.125rem;
}

#top-button:hover {
	background-color: #555;
	color: #c8c8c8;
}

.ghbns {
	padding-left: 1rem;
	padding-right: 1rem;
}

a#more-software, a#more-software:visited, a#more-software:hover, a#more-software:active {
	color: var(--theme-color);
	font-size: 0.8rem;
}

#year {
	margin: 0;
}
